<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Link Verification</title>
</head>
<body>
    <form onsubmit="">        
        <hr>
        <small>Hello {{username}},</small>

        <p>Please click the following link to reset your password <span style="font-weight: bolder; font-size: larger; background-color: rgb(230, 233, 236); padding: 4px;"><a href="{{CROS_URL}}/accounts/updatePassword/{{id}}/{{key}}">Click to Reset your password</a></span></p>

        <em>Thank you</em><br/>
        <em>Team <b>Whizco</b></em>
        <!-- <input type="submit"></input> -->
    </form>

</body>
</html>